body {
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
    justify-content: center;
    vertical-align: center;
}

.white-keys kbd {
    background-color: white;
    border: solid black 3px;
    display: inline-block;
    height: 200px;
    line-height: 350px;
    text-align: center;
    width: 50px;
    z-index: 1;
}

.black-keys kbd {
    background-color: black;
    border: solid black 3px;
    color: white;
    display: inline-block;
    height: 120px;
    line-height: 180px;
    text-align: center;
    transform: translate(30px, -205px);
    width: 40px;
    z-index: 2;
}

#key-e {
    transform: translate(45px, -205px);
}

#key-t {
    transform: translate(115px, -205px);
}

#key-y {
    transform: translate(125px, -205px);
}

#key-u {
    transform: translate(135px, -205px);
}

.container {
    align-items: center;
    display: inline-block;
    height: 400px;
    justify-content: center;
    margin: 20% 30%;
}
